.maxConWCenter
  max-width 1200px
  margin-left:auto
  margin-right:auto
  width 100%
  box-sizing border-box
.paddingConWrap
  padding-left .6rem
  padding-right .6rem
  width:100%
  box-sizing border-box
.rootContainer
  height: 100%
.rootContent
  padding-bottom: 3rem;
  background :#fff;
  min-height: 100%
  height auto
  box-sizing border-box
  background #F8f8f8
  .logo
    opacity:0;

.placeholerEle
  &.ratio567_415
    width: 4rem
    box-sizing border-box
    padding: 1.73rem 0 0.2rem;
    @media screen and ( min-width 750px){
      padding: 0.2rem 0
    }
  p
    padding-bottom 73.2%
.pageSubBanner
  text-align center
  img
    width 100%
    height auto

