@import "./mixin.styl"
.footerBanner
  position: fixed
  left: 0
  bottom: 0
  //right:0
  height: 2.5rem;
  line-height 2.5rem
  background #2e2c25
  width: 100vw;
  color: #fff;
  box-sizing border-box
  padding: 0 0.6rem
  .shareList
    display: inline-block
  .text
    vertical-align: 0.9rem;
